:root {
    --color-primary: #24053e;
    --color-secondary: #FCF8FF;
    --color-accent: #44FFA1;
}

* {
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}


/* Typography */

html {
    font-size: 62.5%;
}

body, button{
    margin: 0;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

h1, h2, h3 {
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 4.5rem;
    line-height: 5rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 4.8rem;
}

h3 {
    font-size: 2.8rem;
    line-height: 3.6rem;
}

@media screen and (min-width:540px) {
    h1 {
        font-size: 6rem;
        line-height: 6rem;
    }
    
    h2 {
        font-size: 4.8rem;
        line-height: 5.6rem;
    }
}

@media screen and (min-width:1024px) {
    body, button {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

    h1 {
        font-size: 8rem;
        line-height: 8rem;
    }
    
    h2 {
        font-size: 5.6rem;
        line-height: 6.4rem;
    }
    
    h3 {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

.underline__color-accent {
    text-decoration-color: var(--color-accent);
}

/* Blocks */


.block--primary {
    background-color: var(--color-primary);
}

.block--secondary {
    background: var(--color-secondary);
}

.block__rounded {
    border-bottom-left-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;
}

/* Buttons */

.btn {
    border: 0;
    font-weight: 600;
    cursor: pointer;
}

.btn--primary {
    background: var(--color-accent);
    color: var(--color-primary);
    transition: background 0.3s ease-out;
}

.btn--primary:hover {
    background: none;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
}

.btn--secondary {
    background: none;
    border-bottom: 2px solid var(--color-accent);
    color: white;
    transition: color .2s ease-in;
}

.btn--secondary:hover {
    color: var(--color-accent);
}

/* Navigation */

.nav {
    display: flex;    
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
}

.nav--block {
    margin: 0;
    padding: 4rem 1.6rem;
}

@media screen and (min-width: 769px) {
    .nav {
        max-width: 70%;
        margin: 5rem auto;
    }
}

/* Icons */

.icon--container {
    margin: auto 0;
    padding-top: 0.5rem;
}

/* Hero */
.block-hero {
    position: relative;
    height: 363px;
    overflow: hidden;
}

.hero {
    padding: 0 1.6rem;
}

.hero__heading {
    margin: 0 auto;
    margin-bottom: 4rem;
    color: white;
    text-align: center;
}

.hero__btn {
    display: block;
    margin: 0 auto;
    width: 13rem;
    height: 5.5rem;    
}

.container-hero__image {
    background-color: var(--color-secondary);
    height: 100px;
}

.hero__image {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    left: 3.6rem;
    top: -10rem;
    overflow: visible;
}

.hero__bg-pattern-1, .hero__bg-pattern-2 {
    position: absolute;
    left: -50rem;
}



@media screen and (min-width: 768px) {
    .block-hero {
        height: 421px;
    }
    
    .hero__image {
        max-width: 515px;
        left: 15.1rem;
        top: -15rem;
    }

    .hero__bg-pattern-1 {
        left: -23rem;
        top: -6rem;
    }

    .hero__bg-pattern-2 {
        bottom: 10rem;
        left: 68rem;
    }
}

@media screen and (min-width: 1024px) {
    .block-hero {
        height: 405px;
    }

    .container-hero__image {
        height: 320px;
    }

    .hero__image {
        max-width: 770px;
        top: -10rem
    }

    .hero__bg-pattern-2 {
        left: 90rem;
    }
}

@media screen and (min-width: 1440px) {
    .block-hero {
        height: 510px;
    }
    
    .hero__image {
        max-width: 770px;
        left: 35rem;
        top: -20rem
    }

    .hero__bg-pattern-1 {
        left: -13rem;
        top: -2rem;
    }
    
    .hero__bg-pattern-2 {
        left: 131rem;
    }
}

@media screen and (min-width: 1880px) {
    .hero__image {
        max-width: 770px;
        left: 60rem;
        top: -20rem
    }

    .hero__bg-pattern-2 {
        left: 175rem;
    }
}

/* Grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Features */

.grid-feature {
    position: relative;
    margin: 0;
    z-index: -1;
    top: -15rem;
    padding: 15rem 0;
}

.block-feature {
    margin: 0 auto;
    text-align: center;
}

.feature__icon-container {
    border-radius: 50%;
    border: 1px solid #584D62;
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    width: 4.8rem;
    height: 4.6rem;
    margin: 2.4rem auto;   
}

.feature__icon-container>span {
    display: block;
    margin-top: 0.5rem;
}

.feature__icon, .feature__heading {
    color: var(--color-primary);
}

.feature__heading {
    margin: 1.6rem auto;
}

.feature__content {
    max-width: 343px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .grid-feature.block--secondary {
        height: 1500px;
        align-items: start;
        padding: 25rem 0;
    }

    .block-feature {
        text-align: left;
        max-height: 108px;
    }

    .feature__icon-container {
        position: relative;
        text-align: center;
        margin: 0;
        top: 11rem;
    }

    .feature__heading, .feature__content {
        max-width: 493px;
        margin: 1.6rem 0;
        margin-left: 8rem;
    }
}

@media screen and (min-width: 1024px) {
    .block-feature {
        text-align: center;
        max-height: fit-content;
    }

    .grid-feature {
        position: relative;
        grid-auto-flow: column; 
        top: -40rem;
        justify-content: center;
        align-content: end;
        gap: 3rem;
        max-height: 1100px;
    }

    .feature__icon-container {
        position: static;
        margin: 2.4rem auto;
    }

    .feature__heading, .feature__content {
        max-width: 354px;
    }

    .feature__heading {
        margin: 1.6rem auto;
    }

    .feature__content {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .grid-feature {
        padding: 0 10rem;
    }
}

/* Feature Block */

.feature {
    margin: 4rem auto;    
}


/* Testimonials */
.testimonial {
    margin: auto 1.6rem;
    text-align: center;
    overflow: hidden;
}

.container-testimonial__image {
    position: relative;
    top: 6rem;
    z-index: -1;
}

.testimonial__image {
    max-width: 26.5rem;
}

.container-testimonial__content {
    padding: 3.8rem 3.2rem 2.4rem 3.2rem;
}

.testimonial__heading, .testimonial__text {
    display: inline-block;
    color: white;
}

.testimonial__heading {
    margin: auto;
}

.testimonial__btn {
    width: 17rem;
    height: 5.5rem;
    margin: 2rem auto;
}

.testimonial__bg-pattern-3 {
    visibility: hidden;
}

@media screen and (min-width: 768px) { 
    .testimonial {
        text-align: left;
    }

    .container-testimonial__content {
        position: relative;
        float: right;
        max-width: 515px;
        max-height: 375px;
        padding: 5.6rem 4.8rem 5.6rem 5.6rem;
        top: -7rem;
        left: -5rem;
    }

    .testimonial__bg-pattern-3 {
        position: relative;
        visibility: visible;
        left: 45rem;
        top: 17rem;
    }
}

 @media screen and (min-width: 1024px) {
    .testimonial__image {
        max-width: 47.7rem;
    }

    .container-testimonial__content {
        max-width: 730px;
        max-height: 475px;
        padding: 6.4rem;
    }

    .testimonial__bg-pattern-3 {
        left: 75rem;
        top: 19rem;
    }
}

/* Footer */

footer.container.block {
    max-width: 116px;
}

footer>.icon--container, .socials--container {
    margin: 4rem auto;
}

.socials--container {
    display: flex;
    justify-content: space-between;
}

.socials__icon {
    fill: #584D62;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all .2s ease-in;
}

.socials__icon:hover {
    fill: var(--color-primary);
}