<section class="grid grid-feature block--secondary block__rounded">
  <article class="block-feature">
    <div class="feature">
      <div class="feature__icon-container">
        <span>1</span>
      </div>
      <h3 class="feature__heading">Actionable Insights</h3>
      <p class="feature__content">
        Optimize your products, improve customer
        satisfaction and stay ahead of the competition with our product data analytics.
      </p>
    </div>
  </article>
  <article class="block-feature">
    <div class="feature">
      <div class="feature__icon-container">
        <span>2</span>
      </div>
      <h3 class="feature__heading">Data-driven decisions</h3>
      <p class="feature__content">
        Make data-driven decisions with our product data analytics. 
        Our AI-generated reports help you unlock insights hidden in your product data.
      </p>
    </div>
  </article>
  <article class="block-feature">
    <div class="feature">
      <div class="feature__icon-container">
        <span>3</span>
      </div>
      <h3 class="feature__heading">Always affordable</h3>
      <p class="feature__content">
        Always affordable pricing that scales with your business. 
        Get top-quality product data analytics services without hidden costs or unexpected fees.  
      </p>
    </div>
  </article>
</section>