<div class="block block--primary block__rounded" style="padding-top: 10rem;">
    <div class="container hero">
      <h1 class="hero__heading">Data <u class="underline__color-accent">tailored</u> to </br>your needs.</h1>
      <button class="btn btn--primary hero__btn">Learn more</button>
    </div>
      <div class="container">
        <img src="assets/images/image-hero.webp"  class="hero__image" alt="Hero Image"
        srcset="assets/images/image-hero@1x.webp 1x,
        assets/images/image-hero@2x.webp 2x,
        assets/images/image-hero.webp 3x"
        />
      </div>
  </div>