<div class="block--primary block__rounded block-hero">
  <div class="hero">
      <div class="hero__bg-pattern-1">
        <img src="assets/images/bg-pattern-1.svg" alt="">
      </div>
    <h1 class="hero__heading">Data <u class="underline__color-accent">tailored</u> to </br>your needs.</h1>
    <button class="btn btn--primary hero__btn">Learn more</button>
    <div class="hero__bg-pattern-2">
      <img src="assets/images/bg-pattern-2.svg" alt="">
    </div>
  </div>    
</div>
<div class="container">
  <img src="assets/images/image-hero.webp" class="hero__image" alt="Hero Image" />  
</div>