<section class="container testimonial">
    <img src="image-founder.webp" class="testimonial__image" alt="Founder's image" 
    srcset="assets/images/image-founder@1x.webp 1x,
    assets/images/image-founder@2x.webp 2x,
    assets/images/image-founder.webp 3x"
    />
    <div class="block--primary block--testimonial">
      <h2 class="testimonial__heading">Be the first to test</h2>
      <p class="testimonial__content">
        Hi, I'm Louis Graham, the founder of the company. Book a demo call with me to become a beta tester for our app and kickstart your company. 
        Apply for access below and I’ll be in touch to schedule a call.
      </p>
      <button class="btn btn--primary testimonial__btn">Apply for access</button>
    </div>
  </section>