<section class="container block-testimonial">
  <div class="testimonial">
    <div class="container-testimonial__image">
      <img src="assets/images/image-founder.webp" class="testimonial__image" alt="Founder's image"
      />
    </div>
    <div class="block block--primary container-testimonial__content">
      <h2 class="testimonial__heading">Be the first to test</h2>
      <p class="testimonial__text">
        Hi, I'm Louis Graham, the founder of the company. Book a demo call with me to become a beta tester for our app and kickstart your company.
        Apply for access below and I’ll be in touch to schedule a call.
      </p>
      <button class="btn btn--primary testimonial__btn">Apply for access</button>
    </div>
    <div class="testimonial__bg-pattern-3">
      <img src="assets/images/bg-pattern-3.svg" alt="">
    </div>
  </div>
</section>